/* for nav colours #0859D1   legal style size 45, white *2 shadow medium*/
div.header {
    background-color: palegreen;
    padding: 5px;
    }

.navigation {
    margin-top: 30px;
    margin-left: 30px;
    
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(2, 0, 36);
  background-color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}


.logo{
    width: 50%;
}


.navicons{
    width: 70%;
    height: 60%;
}

.navicons:hover{
  background: image('NavHover2.png');
  background: url('NavHover.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  transition: background 1s ease;
}

.welcomeBlurb {
    background-color:rgba(255, 255, 255, 0.5);
    display:block;
    text-align: center;
    width: 80%;
    margin: 100px auto;
    height: 250px;
    border-radius: 80px;
    padding: 20px 0px;
}
.welcomeTitle {
    display:block;
    text-align: center;
    width: 80%;
    margin: auto;
}

.pos {
    position: absolute;
    top: 5px;
    right: 0;
  }

  .welcomeText{
    font-size:15px;
  }


  .homeInfo{
    /* border: solid 1px yellow;     */
    display:block;
    text-align: center;
    width: 80%;
    height: auto;
    border-radius: 80px;
    margin: auto;
  }



  .infoBox{
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    border-radius: 20px;
    margin: 20px 10px;
  }

  .messages{
    background-color: rgba(240, 248, 255,0.5);
    border: solid 1px red;
    margin: auto;
    border-radius: 10px;
  }

  .chatBox {
    display:block;
    text-align: center;
    width: 100%;
    margin: 20px auto;
    height: 600px;
    overflow-y: auto;
    max-height: 90%;
}


.login{
  width: 50%;
  margin: auto;  
  display: block;
  height: auto;
  padding: 50px;
  border: solid 1px red;
  background: rgba(203, 203, 203,0.5);
  border-radius: 50px;
  margin-top: 40px;
}

.profileBox{
  height: auto;
  margin: auto;
  padding: 0 100px;
  padding-top: 100px;
}

.profileImage{
  border: solid 1px black;
  width: 100%;
  border-radius: 100%;
  margin-bottom: 10px;
}

.profileInfo{
  border: solid 1px black;
  background-color: rgba(245, 245, 245,0.8);
  border-radius: 20px;
  padding: 20px;
  font: 1em arial,sans-serif;
}

.profileBox>div{
  text-align: center;
}

.playerFavs{
  margin: auto;
  padding: 0;

  text-align: center;
}

.gunsAndMaps{
  background-color: rgba(245, 245, 245,0.8);
  border: solid 1px black;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;

}

.horizontal-line {
  margin: 50px auto;
  width: 100%;
}

.test ul{
  max-height: 200px;
  overflow: auto;
    text-align: center;
  list-style: none;
}

.edit_favs{
  text-align: left;

}
.scroll_editpage{
  
  overflow-y: scroll;
   max-height: 200px;
}



.alertmsg{
  font-style: bold;
  color: red;
  font-size: 20px;  
}

#chatMessages{
  list-style-type: none;
  text-align: left;
  padding: 0;
  width: 100%;

}

#message{
  width: 100%;
  margin-bottom: 20px;
}

.userChat{
  background-color: rgba(86, 87, 76, 0.5);
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  margin: 10px ;
  padding: 0 20px;
  word-wrap: break-word;
  overflow: auto;
  display: table;
  max-width: 100%;
}

.private{
  color: greenyellow;
}

.edit_profile_heading{
  text-align: center;
  color: rgba(0, 204, 255, 0.842);
}
