{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.isPrivate.label }}<br>
            {{ form.isPrivate() }}<br>
            {% for error in form.isPrivate.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>

        <p>
            <label for="fav_maps">Favorite Maps:</label><br>
            {% for map_id, map_name in form.fav_maps.choices %}
            <input type="checkbox" id="fav_map_{{ map_id }}" name="fav_maps" value="{{ map_id }}"
                {% if map_id in form.fav_maps.data %}checked{% endif %}>
            <label for="fav_map_{{ map_id }}">{{ map_name }}</label><br>
            {% endfor %}
        </p>
        <p>
            <label for="fav_weapons">Favorite Weapons:</label><br>
            {% for weapon_id, weapon_name in form.fav_weapons.choices %}
            <input type="checkbox" id="fav_weapon_{{ weapon_id }}" name="fav_weapons" value="{{ weapon_id }}"
                {% if weapon_id in form.fav_weapons.data %}checked{% endif %}>
            <label for="fav_weapon_{{ weapon_id }}">{{ weapon_name }}</label><br>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
