{% extends "base.html" %}

{% block styling %}
<style>
    body{
        background: url('/static/EditProfileBg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        }
</style>
{% endblock%}


{% block content %}
<h1 class="edit_profile_heading"><b>Edit Profile</b></h1>
<form action="" method="post" style=" text-align: center;">
    {{ form.hidden_tag() }}
    <p>
        <div>
        <label style="display: block; text-align: center; color: rgb(0, 229, 255);">{{ form.username.label }}</label><br>
        {{ form.username(size=32, style=";color: black; background-color: rgba(245, 245, 245,0.8); border: 1px solid black; border-radius: 20px;") }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </div>
    </p>
    <p>
        <label style=" max-height: 100px; display: inline-block; color: rgb(255, 0, 0);">{{ form.about_me.label }}</label><br>
        {{ form.about_me(size=100,  style="width: 500px; height: 100px; color: black; background-color: rgba(245, 245, 245,0.8); border: 1px solid black; border-radius: 20px;") }}<br>
        {% for error in form.about_me.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
        <p>
            <div class="private">
                <input type="checkbox" id="UserPrivate" name="isPrivate" value="true"
                        {% if current_user.private %}checked{% endif %}>
                <label for="UserPrivate">Private</label>
            </div>
        </p>
<div class="playerFavs col-10">
    <div class="gunsAndMaps  col-3">
        <h2 >Favorite Maps:</h2>
        
            <ul class="scroll_editpage">
                {% for map_id, map_name in form.fav_maps.choices %}
                    <li class="edit_favs">
                        <input type="checkbox" id="fav_map_{{ map_id }}" name="fav_maps" value="{{ map_id }}"
                            {% if map_id in form.fav_maps.data %}checked{% endif %}>
                        <label for="fav_map_{{ map_id }}">{{ map_name }}</label>
                    </li>
                {% endfor %}
            </ul>
    </div>

    <div class="gunsAndMaps  col-3">
        <h2 >Favorite Weapons:</h2>
       
            <ul class="scroll_editpage">
                {% for weapon_id, weapon_name in form.fav_weapons.choices %}
                    <li class="edit_favs">
                        <input type="checkbox" id="fav_weapon_{{ weapon_id }}" name="fav_weapons" value="{{ weapon_id }}"
                            {% if weapon_id in form.fav_weapons.data %}checked{% endif %}>
                        <label for="fav_weapon_{{ weapon_id }}">{{ weapon_name }}</label>
                    </li>
                {% endfor %}
            </ul>
        
    </div>
</div>


        
    
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
