{% extends "base.html" %}
{% block styling %}
    <style>
        body{
            background: url('/static/HomeBg.jpg'), radial-gradient(rgb(50, 22, 175) 0%, rgb(0, 0, 0) 100%);
            background-repeat: no-repeat;
            background-size:auto;
            }
    </style>
{% endblock %}


{% block content %}

<div class="col-12 welcomeBlurb">
    <div class=" welcomeTitle"><h1>Welcome to CSGGHUB!!</h1></div> 
       
    <p class="welcomeText">
        This is a CITS3404 - Agile Web Development Project in Collaboration with Lance, Sahil and Midhin.
    </p>
    <p class="welcomeText">
        The purpose of this project is to create a chat system that enables users to signup/register and login.
        The system will have a back-end database that will log all registered users and their chat history.
        Information about the game will be integrated in a chat bot system. Users can chat with other user to pair up and create a pefect team to dominate in CSGO!
    </p>
</div>

<div class="col-12 homeInfo welcomeText">
    <div class="row infoRow">
        <div class="col-4 ">
            <div class="infoBox">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim placeat eum numquam debitis ipsam exercitationem nulla itaque perspiciatis soluta quam, iure nam, suscipit ipsum minus ut quaerat odio odit temporibus.</p>
            </div>  
        </div>
        <div class="col-4 ">
            <div class="infoBox">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim placeat eum numquam debitis ipsam exercitationem nulla itaque perspiciatis soluta quam, iure nam, suscipit ipsum minus ut quaerat odio odit temporibus.</p>

            </div>
        </div>
        <div class="col-4 ">
            <div class="infoBox">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim placeat eum numquam debitis ipsam exercitationem nulla itaque perspiciatis soluta quam, iure nam, suscipit ipsum minus ut quaerat odio odit temporibus.</p>

            </div>
        </div>
    </div>

    <div class="row infoRow">
        <div class="col-4 ">
            <div class="infoBox">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim placeat eum numquam debitis ipsam exercitationem nulla itaque perspiciatis soluta quam, iure nam, suscipit ipsum minus ut quaerat odio odit temporibus.</p>

            </div>
        </div>
        <div class="col-4 ">
            <div class="infoBox">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim placeat eum numquam debitis ipsam exercitationem nulla itaque perspiciatis soluta quam, iure nam, suscipit ipsum minus ut quaerat odio odit temporibus.</p>

            </div>
        </div>
        <div class="col-4 ">
            <div class="infoBox">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim placeat eum numquam debitis ipsam exercitationem nulla itaque perspiciatis soluta quam, iure nam, suscipit ipsum minus ut quaerat odio odit temporibus.</p>

            </div>
        </div>
    </div>


    
</div>

{% endblock %}