{% extends "base.html" %}

{% block styling %}
<!-- Custom CSS -->
<style>
    body{
        background: url('/static/LoginBg.jpg'); /* Set background image */
        background-size: cover; /* Adjust background size to cover the entire element */
        background-repeat: no-repeat; /* Disable background image repetition */
    }
</style>
{% endblock %}

{% block content %}
<!-- Content section -->

<div class="login">
    <h1>Sign In</h1>
    <form method="post" id="loginForm" >
        <div id="errorBox" style="color: red; display:none; white-space: pre-line;"></div>

        {{ form.hidden_tag() }}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <span style="color: red" class="alert">{{ message }}</span>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    </form>
</div>

    


{% endblock %}