{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ current_user.avatar(128) }}"></td>
            <td>
                <h1>User: {{ current_user.username }}</h1>
                {% if current_user.about_me %}
                    <p>{{ current_user.about_me }}</p>
                {% endif %}
                {% if current_user.last_seen %}
                    <p>Last seen on: {{ current_user.last_seen }}</p>
                {% endif %}
                
                {% if current_user.fav_maps %}
                    <h2>Favorite Maps:</h2>
                    <ul>
                        {% for fav_map in current_user.fav_maps %}
                            <li>{{ fav_map.map.map_name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if current_user.fav_weapons %}
                    <h2>Favorite Weapons:</h2>
                    <ul>
                        {% for fav_weapon in current_user.fav_weapons %}
                            <li>{{ fav_weapon.weapon.weapon_name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    </table>

    {% if current_user == current_user %}
        <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    {% endif %}
    <hr>
{% endblock %}
